/* .header-category-toggle-btn{
    background: #5D7B1A !important;
}
.cart-count{
    background: #5D7B1A !important;
}
.btn-style-1{
    background: #5D7B1A !important;
}
.discount-bar{
    background: linear-gradient(270deg, #5D7B1A 47.99%, #F3A952 89.53%);
    padding: 8px;
}
.hero-content span{
    background: linear-gradient(90deg, #5D7B1A 0%, #5D7B1A 82.79%);
}
.static-hero .static-hero-wrap .static-hero-left .hero-content ul li, .static-hero-s2 .static-hero-wrap .static-hero-left .hero-content ul li, .static-hero-s3 .static-hero-wrap .static-hero-left .hero-content ul li{
    color: #5D7B1A;
}
.featured-section .featured-item .icon i{
    color: #5D7B1A !important;
}
.offer-banner-item {
    background: #5D7B1A !important; 
}
.cta-banner-wrap{
    background: #5D7B1A !important;
}
.latest-product-section .latest-product-left-sidebar .discount{
    background : #5D7B1A;
}

/* Y4zuq@762
demo_thisab */ */